name: Frontend CI/CD Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Since your Dockerfile likely uses multi-stage builds (Node -> Nginx), 
      # we just need to run docker build. It handles the npm install/build inside.
      - name: Build & Push Frontend Image
        run: |
          docker build -t pawr2332/insightvault-frontend:latest .
          docker push pawr2332/insightvault-frontend:latest